1. 'Hello World' part removed
2. I can change the author name ‘Nitish’ to ‘Alex Chaparro’ but for that I have to create a user with name;  ‘Alex Chaparro’ and then I have create a post using that author and then I will able to change the visible author name from the website. And the date will automatically generate with the date when I will create the post using the author account ‘Alex Chaparro’. For example if I create the post today it will show today’s date.
3. I have replace the photo with the given photo by Marc Stoksik .
4. I have moved the ‘Sizzle blog’ title position.
5. I have changed the mouse cursor color also. 
6. ‘Center align’ the search text in the header.
7. Fixed the view for ‘mobile’ ,’tablet’ and ‘desktop’.

/* Enter Your Custom CSS Here */
#respond input[type=text], #respond textarea, .edgtf-style-form textarea, .post-password-form input[type=password], .wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-number, .wpcf7-form-control.wpcf7-quiz, .wpcf7-form-control.wpcf7-select, .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea, input[type=text], input[type=email], input[type=password] {
	background-color:#0f1217!important ;
}
.edgtf-vertical-align-containers{
	background-color:#0f1217!important ;
}
.edgtf-comment-form .edgtf-btn-stripe.edgtf-btn-solid:not(.edgtf-btn-custom-hover-bg):hover{
	background-color:#EF7D1C!important ;
}
.edgtf-btn.edgtf-btn-solid:not(.edgtf-btn-custom-hover-bg):hover{
	background-color:#EF7D1C!important ;
}
.edgtf-custom-cursor-enabled .edgtf-custom-cursor.edgtf-custom-cursor-2{
background:#E73128!important;
	color: transparent!important;
}
.edgtf-custom-cursor-enabled .edgtf-custom-cursor {
background: white!important;
	color: transparent!important;
}
#wpcustomcursorid_first{
	 background-color:#E73128!important;
	width: 35px;
height: 35px;
border-radius: 50%;
border: 1px solid transparent;
}
#wpcustomcursorid_second{
background: white!important;
}
.edgtf-search-icon-text{
  position: absolute;
  top: -2px;
	font-size: 16px;
}
::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-thumb {
background: #E73128!important;
}
h1, .topleft {
  position: absolute;
  top: 32px;
  left: 42px;
}


@media only screen and (max-width: 480px) {
    h1, .topleft {
        font-size: 40px;
			left: 5px;
			 top: 4px;
    }
	img{
        image-resolution: 30px;
    }
}/*
@media only screen and (max-width: 500px) {
 h1, .topleft {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 60px;
} */
	#edgtf-back-to-top>span {
    position: relative;
    display: block;
	  background-color: transparent;
    border: 2px solid #E73128!important;
    width: 40px;
    height: 40px;
}


#edgtf-back-to-top>span hover{
    background-color: #E73128; 
    position: absolute;
    display: block;   
	  color : #E73128; 
	  border:none!important;
	  
}
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li.edgtf-active-item>a{
	color:white;
}
/*.edgtf-dark-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a : hover{
		color: #E73128;
} */
.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover{
		color: #E73128;
}
.edgtf-btn.edgtf-btn-simple{
	color: #E73128;
}
.edgtf-blog-holder article .edgtf-post-info-top>div a:hover{
	color: #EF7D1C ;
}
.edgtf-post-info-author-link:hover{
	color: #EF7D1C ;
}
.edgtf-btn.edgtf-btn-solid{
	 background-color: #E73128;	
}
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li>a:hover{
	color: #E73128;
}
.edgtf-drop-down .second .inner ul.right li a:hover{
	color: #E73128;
}

.edgtf-btt-bg-holder {
	 background-color: #E73128;
	color: #E73128;
	
}
.edgtf-related-posts-holder .edgtf-related-posts-title:before {
	color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-posts-title { 
	color: #E73128;
}
.edgtf-container, .edgtf-full-width{
	/*background-color: #E73128; */
}

.edgtf-blog-single-navigation .edgtf-blog-single-nav-label  {
	color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-posts-title:before {
	background-color: #E73128; 
}
.edgtf-related-posts-title {
		color: #E73128;
}



.edgtf-related-posts-holder .edgtf-related-posts-title:after {
background-color: #E73128; 
}

#edgtf-back-to-top>span .edgtf-btt-bg-holder {
	 background-color: #E73128;
	color: #EF7D1C; 
} 
.edgtf-comment-form .comment-reply-title:before {
	background-color: #E73128;
}
#edgtf-back-to-top>span:before, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	color: #E73128; 
}
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	  color: #E73128; 
}
/*
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	  color: #E73128; 
}
#edgtf-back-to-top>span:before, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	color: #E73128; 
}
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:after {
		color: #E73128;
	background-color: #E73128;
} */
.edgtf-main-menu>ul>li>a>span.item_outer:after {
	background-color: #E73128;
} 
#edgtf-back-to-top>span .edgtf-btt-bg-holder {
		background-color: #E73128;
} 

.edgtf-icon-ion-icon ion-android-arrow-up  {background-color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info>div :hover {
  color: #EF7D1C; 
/*	background-color: #E73128; */
}
.edgtf-icon-stack  {
	color: #E73128;
	background-color: #E73128;
}
.edgtf-icon-stack>span  {
	color: #E73128;
	background-color: #E73128;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info>div {
color: #E73128; 
}

.edgtf-blog-holder article .edgtf-post-info-top>div a :hover {
  color: #EF7D1C ; 
}

.edgtf-blog-holder article .edgtf-post-info-top>div a {
	color: #E73128; 
} 
.edgtf-blog-holder article .edgtf-post-info-top>div {
	color: #E73128; 
} 
.edgtf-btt-bg-holder:after {
	color: #E73128; 
} 


.edgtf-btn.edgtf-btn-simple:not(.edgtf-btn-custom-hover-color):hover {
	color:#EF7D1C!important ;
}
.class {

	cursor:auto!important;
}
.edgtf-light-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a{
	color:#E73128; 
} 
.edgtf-light-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a:hover{
	color:#EF7D1C!important ;
} 

.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover {
	color:#E73128!important ;
}
.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a{
		color:#EF7D1C!important ;
}
.edgtf-fixed-wrapper.fixed .edgtf-main-menu > ul > li > a{
	color:#E73128; 
} 


/*


body {
  font-family: helvetica;
  background: #eee;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

form {
  margin-top: 2em;
}

.hide {
  position: absolute;
  left: -10000px;
}

label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
*/
.edgtf-custom-cursor-enabled * {
    cursor: url(https://www.sizzle.gg/blog/wp-content/uploads/2020/12/120372513_773307526803506_6390498157294544436_n.png)!important ;
}

/* Enter Your Custom CSS Here */
#respond input[type=text], #respond textarea, .edgtf-style-form textarea, .post-password-form input[type=password], .wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-number, .wpcf7-form-control.wpcf7-quiz, .wpcf7-form-control.wpcf7-select, .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea, input[type=text], input[type=email], input[type=password] {
	background-color:#0f1217!important ;
}
.edgtf-vertical-align-containers{
	background-color:#0f1217!important ;
}
.edgtf-comment-form .edgtf-btn-stripe.edgtf-btn-solid:not(.edgtf-btn-custom-hover-bg):hover{
	background-color:#EF7D1C!important ;
}
.edgtf-btn.edgtf-btn-solid:not(.edgtf-btn-custom-hover-bg):hover{
	background-color:#EF7D1C!important ;
}
.edgtf-custom-cursor-enabled .edgtf-custom-cursor.edgtf-custom-cursor-2{
background:#E73128!important;
	color: transparent!important;
}
.edgtf-custom-cursor-enabled .edgtf-custom-cursor {
background: white!important;
	color: transparent!important;
}
#wpcustomcursorid_first{
	 background-color:#E73128!important;
	width: 35px;
height: 35px;
border-radius: 50%;
border: 1px solid transparent;
}
#wpcustomcursorid_second{
background: white!important;
}
.edgtf-search-icon-text{
  position: absolute;
  top: -2px;
	font-size: 16px;
}
::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-thumb {
background: #E73128!important;
}
h1, .topleft {
  position: absolute;
  top: 32px;
  left: 42px;
}


@media only screen and (max-width: 480px) {
    h1, .topleft {
        font-size: 40px;
			left: 5px;
			 top: 4px;
    }
	img{
        image-resolution: 30px;
    }
}/*
@media only screen and (max-width: 500px) {
 h1, .topleft {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 60px;
} */
	#edgtf-back-to-top>span {
    position: relative;
    display: block;
	  background-color: transparent;
    border: 2px solid #E73128!important;
    width: 40px;
    height: 40px;
}


#edgtf-back-to-top>span hover{
    background-color: #E73128; 
    position: absolute;
    display: block;   
	  color : #E73128; 
	  border:none!important;
	  
}
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li.edgtf-active-item>a{
	color:white;
}
/*.edgtf-dark-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a : hover{
		color: #E73128;
} */
.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover{
		color: #E73128;
}
.edgtf-btn.edgtf-btn-simple{
	color: #E73128;
}
.edgtf-blog-holder article .edgtf-post-info-top>div a:hover{
	color: #EF7D1C ;
}
.edgtf-post-info-author-link:hover{
	color: #EF7D1C ;
}
.edgtf-btn.edgtf-btn-solid{
	 background-color: #E73128;	
}
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li>a:hover{
	color: #E73128;
}
.edgtf-drop-down .second .inner ul.right li a:hover{
	color: #E73128;
}

.edgtf-btt-bg-holder {
	 background-color: #E73128;
	color: #E73128;
	
}
.edgtf-related-posts-holder .edgtf-related-posts-title:before {
	color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-posts-title { 
	color: #E73128;
}
.edgtf-container, .edgtf-full-width{
	/*background-color: #E73128; */
}

.edgtf-blog-single-navigation .edgtf-blog-single-nav-label  {
	color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-posts-title:before {
	background-color: #E73128; 
}
.edgtf-related-posts-title {
		color: #E73128;
}



.edgtf-related-posts-holder .edgtf-related-posts-title:after {
background-color: #E73128; 
}

#edgtf-back-to-top>span .edgtf-btt-bg-holder {
	 background-color: #E73128;
	color: #EF7D1C; 
} 
.edgtf-comment-form .comment-reply-title:before {
	background-color: #E73128;
}
#edgtf-back-to-top>span:before, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	color: #E73128; 
}
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	  color: #E73128; 
}
/*
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	  color: #E73128; 
}
#edgtf-back-to-top>span:before, #edgtf-back-to-top>span:before {
		background-color: #E73128;
	color: #E73128; 
}
#edgtf-back-to-top>span:after, #edgtf-back-to-top>span:after {
		color: #E73128;
	background-color: #E73128;
} */
.edgtf-main-menu>ul>li>a>span.item_outer:after {
	background-color: #E73128;
} 
#edgtf-back-to-top>span .edgtf-btt-bg-holder {
		background-color: #E73128;
} 

.edgtf-icon-ion-icon ion-android-arrow-up  {background-color: #E73128;
}
.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info>div :hover {
  color: #EF7D1C; 
/*	background-color: #E73128; */
}
.edgtf-icon-stack  {
	color: #E73128;
	background-color: #E73128;
}
.edgtf-icon-stack>span  {
	color: #E73128;
	background-color: #E73128;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info>div {
color: #E73128; 
}

.edgtf-blog-holder article .edgtf-post-info-top>div a :hover {
  color: #EF7D1C ; 
}

.edgtf-blog-holder article .edgtf-post-info-top>div a {
	color: #E73128; 
} 
.edgtf-blog-holder article .edgtf-post-info-top>div {
	color: #E73128; 
} 
.edgtf-btt-bg-holder:after {
	color: #E73128; 
} 


.edgtf-btn.edgtf-btn-simple:not(.edgtf-btn-custom-hover-color):hover {
	color:#EF7D1C!important ;
}
.class {

	cursor:auto!important;
}
.edgtf-light-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a{
	color:#E73128; 
} 
.edgtf-light-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a:hover{
	color:#EF7D1C!important ;
} 

.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover {
	color:#E73128!important ;
}
.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a{
		color:#EF7D1C!important ;
}
.edgtf-fixed-wrapper.fixed .edgtf-main-menu > ul > li > a{
	color:#E73128; 
} 


/*


body {
  font-family: helvetica;
  background: #eee;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

form {
  margin-top: 2em;
}

.hide {
  position: absolute;
  left: -10000px;
}

label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
*/
.edgtf-custom-cursor-enabled * {
    cursor: url(https://www.sizzle.gg/blog/wp-content/uploads/2020/12/120372513_773307526803506_6390498157294544436_n.png)!important ;
}

